<h2>
  Lights
</h2>

<table>
  <thead>
    <tr class="head">
      <th>On</th>
      <th>Hue</th>
      <th>Sat</th>
      <th>Bri</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let light of lights">
      <td [ngClass]="{on: light.on, off: !light.on}">
      </td>
      <td>{{light.hue}}</td>
      <td>{{light.saturation}}</td>
      <td>{{light.brightness}}</td>
      <td>{{light.name}}</td>
      <td><input type="button" value="Detail" (click)="goToDetail(light)"/></td>
    </tr>
  </tbody>
</table>
