<h1>
  Configuration
</h1>

<div>
  Ip-adress: <input
        type="text"
        [(ngModel)]="config.ip"
        (ngModelChange)="edit()"
        title="ip-edit"/>
</div>

<div>
  Port: <input
        type="number"
        [(ngModel)]="config.port"
        (ngModelChange)="edit()"
        title="port-edit"/>
</div>

<div>
  Username: <input
        type="text"
        [(ngModel)]="config.username"
        (ngModelChange)="edit()"
        title="username-edit"/>
</div>

<div>
  <input type="button" (click)="update()" value="Update" [disabled]="!edited">
  <input type="button" (click)="back()" value="Back">
</div>
