<light-header [light]="light"></light-header>

<div>
    <span>On:</span>
    <input type="checkbox" [(ngModel)]="light.on" (ngModelChange)="isEdited()" title="On">
</div>

<div>
    <span>Hue:</span>
    <input
        type="number"
        [(ngModel)]="light.hue"
        placeholder="Hue"
        (ngModelChange)="isEdited()"
        min="0"
        max="65280"
    >
</div>

<div>
    <span>Saturation:</span>
    <input
        type="number"
        [(ngModel)]="light.saturation"
        placeholder="Sat"
        (ngModelChange)="isEdited()"
        min="0"
        max="254"
    >
</div>

<div>
    <span>Brightness:</span>
    <input
        type="number"
        [(ngModel)]="light.brightness"
        placeholder="Bri"
        (ngModelChange)="isEdited()"
        min="0"
        max="254"
    >
</div>

<div>
    <button class="btn" (click)="updateLight()" [disabled]="!edited">Update</button>
    <button class="btn" (click)="backToDetail()">Back</button>
</div>